<h1>Hi <%= name %></h1>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<!-- Navigation Buttons -->
<a href="/game">
  <button type="button">Play the Red Dot Game</button>
</a>

<a href="/dashboard">
  <button type="button">View Your Dashboard</button>
</a>

<a href="/leaderboard">
  <button type="button">View Leaderboard</button>
</a>